
/* 링크 밑줄 없앰 */
html a{
    text-decoration: none;
}

/* 현재 보고있는 목록을 빨간색으로 표시 */
#visiting{color: red;}
/* 사이트 배경화면 */
            body{
                background-image: url("https://cdn.crowdpic.net/list-thumb/thumb_l_3D68EAC5A1F4019B01F89171879886E5.jpg");
            }
/* 목록 */
            ul{
                border: 1px solid black;
                width: 200px;
                box-sizing: border-box;}

/* 신문형식으로 정리(컴퓨터만 해당) */
                .column{column-width: 300px;
                        text-align: justify;
                        column-rule-style: solid;
                        column-rule-width: 1px;
                        }

/* 중요한 단어 색칠 */
                span{
                    background-color: rgba(254, 127, 156, 0.5);
                }   
                /* 설명 글자크기 */   
                .expn{
                    font-size: 1.1rem;
                }  
                      
                         /* 국어화면
                        https://cdn.crowdpic.net/list-thumb/thumb_l_3D68EAC5A1F4019B01F89171879886E5.jpg */

