
#concept{color: red;}
            body{
                background-image: url("https://cdn.crowdpic.net/list-thumb/thumb_l_3D68EAC5A1F4019B01F89171879886E5.jpg");
            }
            ul{
                border: 1px solid black;
                width: 200px;
                
                
                
                
                box-sizing: border-box;}
                .column{column-width: 300px;
                        text-align: justify;
                        column-rule-style: solid;
                        column-rule-width: 1px;
                        }
                      